Delivery2/*.ssms_suo
Delivery2/.vs/*
Delivery2/.vs/Delivery2/v14/.ssms_suo
Delivery2/.vs/Delivery2/v14/*
/Delivery2/.vs/Delivery2/v14/.ssms_suo
/Delivery2/.vs/Delivery2/v14/*
/.vs/Delivery2/v14/.ssms_suo
.vs/Delivery2/v14/.ssms_suo
.vs/Delivery2/v14/*

